* {
  padding: 0;
  margin: 0;
  font: inherit;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: calc(15px + 0.390625vw) !important;
}

img {
  max-width: 100%;
}
.header {
  overflow: hidden;
}
